.btn-nuevo {
  background-color: rgb(182, 216, 205);
  color: rgb(0, 128, 85);
  font-weight: 700;
  border-radius: 5px;
  &:hover {
    color: rgb(1, 88, 88);
  }
}

.btn-border {
  border-color: rgb(141, 141, 141);
  color: rgb(56, 56, 56);
  border-radius: 15px;
  
}

.btn-comment {
  background-color: rgb(47, 92, 92);
  color: white;
  border-radius: 15px;
  padding: 0.7rem 1.25rem;
  &:hover {
    color: rgb(96, 190, 190);
  }
}