.btn-nuevo {
  background-color: #ECD8FF;
  color: #7D2BC9;
  font-weight: 700;
  border-radius: 5px;
  &:hover {
    background-color: #7D2BC9;
    color: #ECD8FF;
  }
}

.btn-border {
  border-color: rgb(141, 141, 141);
  color: rgb(56, 56, 56);
  border-radius: 15px;
  &:hover {
    background-color: black;
    color: white;
    border: none;
  }

}

.btn-comment {
  background-color: rgb(47, 92, 92);
  color: white;
  border-radius: 15px;
  padding: 0.7rem 1.25rem;
  &:hover {
    color: rgb(96, 190, 190);
  }
}

.btn-blue {
  margin-top: 10px;
  background-color: #1D90F5;
  color: white;
  padding: 10px 40px;
  border-radius: 30px;
  box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.22);
  transition: box-shadow .3s linear;
  &:hover {
    color: aliceblue !important;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.22);
  }
}
