// Estilos para el form de nuevo comentario

.form-control {
  border-radius: 15px;
  padding: 0.7rem 1.25rem;
  background-color: rgb(233, 233, 233);
  border: none;
}

.form-comment {
  display: flex;
  justify-content: space-between;
  // align-self: center;
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 15px;
}

.mb-3 {
  margin-bottom: 0rem !important;
}



// Estilos de lista de comentarios
.comments-all {
  margin-top: 25px;
  border: 1px solid rgb(173, 173, 173);
  padding: 20px 40px;
  border-radius: 10px;
}

.comments-card{
  margin: 20px 0px;
}
.comments {
  border: 1px solid rgb(201, 201, 201);
  border-radius: 15px;
  padding: 15px 20px;
  flex-grow: 1;

  .comments-date {
    background-color: rgb(197, 240, 240);
    border-radius: 5px;
    padding: 0px 7px;
    font-size: 13px;
    color: rgb(30, 88, 79);
    margin: 0px;
  }
  
  .comments-user {
    margin-bottom: 0px;
    font-weight: 600;
    color: rgb(102, 102, 102);
    font-size: 14px;
  }

  .comments-comment {
    // background-color: rgb(237, 239, 243);
    // padding: 12px 20px;
    color: rgb(26, 26, 26);
    border-radius: 8px;
    font-weight: 500;
    margin: 0px;
  }
}

.card-empty {
  // width: 6.40%;
  width: 50px;
}

