.login {
  color: white;
  width: 60%;
  padding: 125px 90px;

  h2 {
    // text-shadow: 0 0 5px #7D2BC9, 0 0 10px #7D2BC9, 0 0 15px #7D2BC9;
    display: block;
    margin-bottom: 30px;
  }
  .input-wrapper-email, .input-wrapper-password{
    background-color: #F3F6FB;
    position: relative;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 30px;
    .label-input {
      position: absolute;
      color: #92939c;
      margin-left: 13.5px;
      margin-top: 3px;
      font-weight: bolder;
    }
    .input-icon{
      display: flex;
      width: 100%;
      gap: 30px;
      align-items: center;
      .email, .password {
        flex-grow: 1;
        input {
          padding-top: 30px;
          background-color: #F3F6FB;
          color: black;
          font-weight: bolder;
          border-radius: 20px;
        }
      }
      i {
        font-size: 24px;
        color: #92939c;
        position: absolute;
        right: 30px;
      }
    }
  }
  .focus {
      .label-input {
        color: #7D2BC9;
      }
      .input-icon .icon {
        color: #7D2BC9;
      }
  }
  .form-control:focus {
      background-color: white !important;
      border-color: #7D2BC9;
      box-shadow: 0 0 0 0.25rem #7d2bc94d;
  }
}

.toggle {
  position: absolute;
  transform: scale(0);
}

.toggle + label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}

.toggle + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #EAEAEA;
  border-radius: 50rem;
}

.toggle:checked + label::before {
  background-color: #2EC79A;
}

.toggle + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.toggle:checked + label::after {
  left: 18px;
}

.form-check {
  padding-left: 0px !important;
}

.background-login{
  background-image: linear-gradient(115deg,rgba(0,0,0,1),rgba(0,0,0,0.6)),url('https://images.unsplash.com/photo-1637710133669-3dd2c9513041?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80');
  background-position: center;
  background-size: cover;
  height: calc(100vh - 60px);
}


@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .login {
    width: 100%;
    text-align: center;
  }
  .logo-rigth {
    display: none;
  }
}
