
.head-titles-new {
  border-bottom: 2px solid rgb(199, 199, 199);
  padding-bottom: 35px;
  h2 {
    margin-bottom: 5px;
  }
}


.description-new {
  text-align: end;

  .title-description-new {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
  }
  
  .description-description-new {
    font-size: 14px;
    color: rgb(85, 85, 85);
    margin-bottom: 0px;
  }
}

.content-card-new {
  margin-bottom: 40px;
  padding-right: 40px;
  position: relative;
  .circle {
    position: absolute;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 3px solid rgb(194, 194, 194);
    z-index: 1;
    background-color: white;
    right: -8px;
  }
}

.icon-new {
  border-radius: 50%;
  background-color: #2EC79A;
  // padding: 10px 20px;
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  i {
    font-size: 20px;
    color: white;
  }
}

.container-description-form {
  width: 23%;
  padding: 50px 0px 50px 0px;
  border-right: 2px solid rgb(194, 194, 194);
}

.container-fill-form {
  width: 77%;
  padding: 50px 0px 50px 50px;
}

.fill-titles {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(209, 209, 209);
}
.line-icon {
  border: 1px solid rgb(158, 158, 158);
  // width: 1px;
  height: 300px;
  position: relative;
  top: 80px;
  right: 70px;
  z-index: -1;
}

