.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // height: 60px !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.nav-user {
  text-align: end;
  margin-right: 20px;

}
.nav-username {
  font-size: 16px;
  font-weight: 600;
}

.nav-email {
  font-size: 13px;
  font-weight: 400;
  color: rgb(143, 143, 143);
  line-height: 1;
}

.navbar-nav, .navbar-nav-prueba {
  padding: 15px 25px;
  border-radius: 15px;
  box-shadow: 0 15px 30px 0px rgb(235, 235, 235);
  &:hover {
    box-shadow: 0 2px 10px 0px rgb(235, 235, 235);
  }
}

.container-fluid {
  padding: 0px;
  position: relative;
}



// Estilos para Dropdown

.dropdown-menu {
  border-radius: 15px;
  border: none;
  box-shadow: 0 15px 30px 0px rgb(235, 235, 235);
}

.dropdown-prueba {
  position: absolute;
  right: 0px;
  top: 0px;
  transition: all 1s ease;
  .hide-options {
    display: none;
  }
}
