// .table-list-prospect {
//   padding: 50px;
//   border-radius: 15px;
//   border: 1px solid rgb(192, 192, 192);
// }


.table-list-prospect {
  padding: 15px 5px;
  border-radius: 15px;
  border: 1px solid rgb(216, 216, 216);
}

.circle-all {
  gap: 18px;
  
}

.circle1 {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 1px solid #7D2BC9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 35px;

  .circle-number1 {
    font-size: 50px;
    font-weight: 800;
    color: #7D2BC9;
  }
  p {
    font-size: 18px;
    font-weight: 700;
    color: #7D2BC9;
    margin: 0px;
  }
}


.circle2 {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-color: #7D2BC9;
  box-shadow: 0px 4px 30px  rgba(125, 43, 201, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 35px;
  .circle-number2 {
    font-size: 50px;
    font-weight: 800;
    color: #ffffff;
  }
  .circle-word2 {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
  }
}

.circle3 {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 1px solid #7D2BC9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 35px;
  align-self: end;
  .circle-number3 {
    font-size: 50px;
    font-weight: 800;
    color: #7D2BC9;
  }
  p {
    font-size: 18px;
    font-weight: 700;
    color: #7D2BC9;
    margin: 0px;
  }
}




table {
  // border-spacing: 0;
  width: 100%;
  thead {
    border-radius: none;
    .head-table-title {
      font-size: 14px;
      font-weight: 600;
      color: #141414;
    }
  }
  .tbody {
    box-shadow: inset 0 0 0 1.5px rgb(241, 241, 241);
    border-collapse: collapse;
    border-radius: 10px;
    // border-radius: 10px !important;
    // border: 1px solid black !important;
    tr {
      border-bottom: 1.5px solid rgb(241, 241, 241);
      padding: 10px !important;
      &:hover {
        background-color: #e0ecee;
      }
    }
    tr:last-child {
      border: none;
    }
  }
  .first-column {
    text-align: left;
    padding-left: 25px;
    width: 18%;
  }

  th {
    text-align: center;
    padding: 10px;
  }
  td {
    font-weight: 400;
    font-size: 16px;
    color: rgb(109, 109, 109);
    text-align: center;
    padding: 10px 0px;
    &:hover {
      color: #141414;
      font-weight: 500;
    }
  }
  // tr td {
  //   border: 1px solid tomato;
  // }
  // tr td:first-child {
  //   border-radius: 6px 0px 0px 0px;
  // }
  // tr td:last-child  {
  //   border-radius: 0px 6px 0px 0px;
  // }
  
 }

