h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
  font-weight: 600;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 25px;
}

.head-table-title {
  font-size: 14px;
  font-weight: 300;
  color: rgb(124, 124, 124);
}


.links {
  text-decoration: none;
}

table {
  border-collapse: inherit;
  td {
    font-weight: 400;
    font-size: 15px;
    color: rgb(77, 77, 77);
  }
}