h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
  font-weight: 600;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 25px;
}

.links {
  text-decoration: none;
}

i {
  font-style: normal;
}

p {
  margin-bottom: 5px;
}

.title-prospect {
  font-weight: 700;
  position: relative;
  z-index: 100;
  // border-bottom: 25px solid #2EC79A;
}

.box-line {
  height: 20px;
  width: 310px;
  position: relative;
  top: -34px;
  background-color: #2EC79A;
}